go: downloading go1.26.0 (linux/amd64)
/* Background */ .bg.light { background-color: #f7f7f7; }
/* PreWrapper */ .chroma.light { background-color: #f7f7f7; -webkit-text-size-adjust: none; }
/* Error */ .chroma.light .err { color: #f6f8fa; background-color: #82071e }
/* LineLink */ .chroma.light .lnlinks { outline: none; text-decoration: none; color: inherit }
/* LineTableTD */ .chroma.light .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma.light .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ .chroma.light .hl { background-color: #dedede }
/* LineNumbersTable */ .chroma.light .lnt { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma.light .ln { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Line */ .chroma.light .line { display: flex; }
/* Keyword */ .chroma.light .k { color: #cf222e }
/* KeywordConstant */ .chroma.light .kc { color: #cf222e }
/* KeywordDeclaration */ .chroma.light .kd { color: #cf222e }
/* KeywordNamespace */ .chroma.light .kn { color: #cf222e }
/* KeywordPseudo */ .chroma.light .kp { color: #cf222e }
/* KeywordReserved */ .chroma.light .kr { color: #cf222e }
/* KeywordType */ .chroma.light .kt { color: #cf222e }
/* NameAttribute */ .chroma.light .na { color: #1f2328 }
/* NameClass */ .chroma.light .nc { color: #1f2328 }
/* NameConstant */ .chroma.light .no { color: #0550ae }
/* NameDecorator */ .chroma.light .nd { color: #0550ae }
/* NameEntity */ .chroma.light .ni { color: #6639ba }
/* NameLabel */ .chroma.light .nl { color: #990000; font-weight: bold }
/* NameNamespace */ .chroma.light .nn { color: #24292e }
/* NameOther */ .chroma.light .nx { color: #1f2328 }
/* NameTag */ .chroma.light .nt { color: #0550ae }
/* NameBuiltin */ .chroma.light .nb { color: #6639ba }
/* NameBuiltinPseudo */ .chroma.light .bp { color: #6a737d }
/* NameVariable */ .chroma.light .nv { color: #953800 }
/* NameVariableClass */ .chroma.light .vc { color: #953800 }
/* NameVariableGlobal */ .chroma.light .vg { color: #953800 }
/* NameVariableInstance */ .chroma.light .vi { color: #953800 }
/* NameVariableMagic */ .chroma.light .vm { color: #953800 }
/* NameFunction */ .chroma.light .nf { color: #6639ba }
/* NameFunctionMagic */ .chroma.light .fm { color: #6639ba }
/* LiteralString */ .chroma.light .s { color: #0a3069 }
/* LiteralStringAffix */ .chroma.light .sa { color: #0a3069 }
/* LiteralStringBacktick */ .chroma.light .sb { color: #0a3069 }
/* LiteralStringChar */ .chroma.light .sc { color: #0a3069 }
/* LiteralStringDelimiter */ .chroma.light .dl { color: #0a3069 }
/* LiteralStringDoc */ .chroma.light .sd { color: #0a3069 }
/* LiteralStringDouble */ .chroma.light .s2 { color: #0a3069 }
/* LiteralStringEscape */ .chroma.light .se { color: #0a3069 }
/* LiteralStringHeredoc */ .chroma.light .sh { color: #0a3069 }
/* LiteralStringInterpol */ .chroma.light .si { color: #0a3069 }
/* LiteralStringOther */ .chroma.light .sx { color: #0a3069 }
/* LiteralStringRegex */ .chroma.light .sr { color: #0a3069 }
/* LiteralStringSingle */ .chroma.light .s1 { color: #0a3069 }
/* LiteralStringSymbol */ .chroma.light .ss { color: #032f62 }
/* LiteralNumber */ .chroma.light .m { color: #0550ae }
/* LiteralNumberBin */ .chroma.light .mb { color: #0550ae }
/* LiteralNumberFloat */ .chroma.light .mf { color: #0550ae }
/* LiteralNumberHex */ .chroma.light .mh { color: #0550ae }
/* LiteralNumberInteger */ .chroma.light .mi { color: #0550ae }
/* LiteralNumberIntegerLong */ .chroma.light .il { color: #0550ae }
/* LiteralNumberOct */ .chroma.light .mo { color: #0550ae }
/* Operator */ .chroma.light .o { color: #0550ae }
/* OperatorWord */ .chroma.light .ow { color: #0550ae }
/* OperatorReserved */ .chroma.light .or { color: #0550ae }
/* Punctuation */ .chroma.light .p { color: #1f2328 }
/* Comment */ .chroma.light .c { color: #57606a }
/* CommentHashbang */ .chroma.light .ch { color: #57606a }
/* CommentMultiline */ .chroma.light .cm { color: #57606a }
/* CommentSingle */ .chroma.light .c1 { color: #57606a }
/* CommentSpecial */ .chroma.light .cs { color: #57606a }
/* CommentPreproc */ .chroma.light .cp { color: #57606a }
/* CommentPreprocFile */ .chroma.light .cpf { color: #57606a }
/* GenericDeleted */ .chroma.light .gd { color: #82071e; background-color: #ffebe9 }
/* GenericEmph */ .chroma.light .ge { color: #1f2328 }
/* GenericInserted */ .chroma.light .gi { color: #116329; background-color: #dafbe1 }
/* GenericOutput */ .chroma.light .go { color: #1f2328 }
/* GenericUnderline */ .chroma.light .gl { text-decoration: underline }
/* TextWhitespace */ .chroma.light .w { color: #ffffff }
